EMAIL_USER=    
EMAIL_PORT=
EMAIL_PASS=
SEND_TO=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=
PORT=4000
NEXT_PUBLIC_PLACES_API=
BACKEND_URL=http://localhost:4000

NEXT_PUBLIC_BACKEND_URL=http://localhost:4000

NEXT_PUBLIC_CSP_NONCE=

NEXT_PUBLIC_RECAPTCHA_V3_SECRET_KEY=
NEXT_PUBLIC_RECAPTCHA_V3_SITE_KEY=

NEXT_PUBLIC_RECAPTCHA_V2_SECRET_KEY=-
NEXT_PUBLIC_RECAPTCHA_V2_SITE_KEY=

NEXT_PUBLIC_PLACES_PROJECT_KEY=

FRONTEND_URL_HAPPY_LAWNS=
